<%= form_with(model: sport, url: sport.persisted? ? sport_path(sport) : sports_path, local: true) do |form| %>
  <% if sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport.errors.count, 'error') %> запретила сохранение этой тренировки:</h2>

      <ul>
        <% sport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Название %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Информация %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Цена %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :Продолжительность %>
    <%= form.text_area :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>